body{
    background-color: black;
    margin: 0;
    height: 100%;
    overflow: hidden
}
.game-window{
    position: relative;
    background-color: white;
    transform-origin: top left;
    clip-path: inset(0px 0px 0px 0px);
}
